@import url(http://weloveiconfonts.com/api/?family=entypo|typicons);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; font-weight: 50px;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#leftside {
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

.logo {
	width: 160px;
	margin: 40px;
}

#rightside {
	width: auto;
	height: 100%;
	margin-left: 250px;
	background-color: #21282e;
}

.game_area {
	width: 500px;
	height: 500px;
	margin: auto;
	background-color: #fff;
}

.menu li{
	font-family:'Open Sans',sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 3px;
	list-style-type: none; 
}

.menu li:hover{
	color: #e40643;
}
.game{
	font-family:'Open Sans',sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	line-height: 55px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	list-style-type: none; 
	position: absolute;
	bottom: 0px;
	padding: 0;
	margin-bottom: 0;
}

.game li:hover{
	background-color: #F7F6F6; 
}

.game li{
 	width: 250px;
 	height: 50px;
 	border-top: 1px solid #eaeaea;
}

.game li, .menu li {
	 	  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.player1{
	width: 150px;
	height: 160px;
	background-color: #fff;
	margin-top: -141px;
}

.player2{
	width: 150px;
	height: 160px;
	background-color: #fff;
}

.datas{
	font-family:'Open Sans',sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	text-align: center;
}

.name{
	padding-top: 15px;
	font-size: 10px;
}

#scorePlayer1, #scorePlayer2{
	font-size: 50px;
}

.color{
	font-size: 11px;
	font-weight: 200;
	letter-spacing: 2px;
}

#timePlayer1, #timePlayer2{
	font-size: 25px;
	padding-top: 5px;
	letter-spacing: 1px;
	border-bottom: solid #000 1px; 
}

.play1, .play2{
	text-align:center;
}
/*.play{
	width: 150px;
	height: 30px;
	background-color: #fff;
	border-top: solid 1px #f00;
	text-align: center;
}
*/

span.entypo-pause, span.entypo-play {
  font-size: 24px;
}

.case{
  display:inline-block;
  width: calc(100%/19);
  background-color: #fff;
  height:19px;
  border:1px solid #cd5656;
  cursor:pointer;
}

.case span {
  border-radius:50%;
  background-color: red;
  width:12px; height:12px;
  display: inline-block;
}

.case span.black {
  background-color: yellow;
}

.case span.white {
  background-color: blue;
}
