html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#leftside {
	width: 250px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
}

.logo {
	width: 160px;
	margin: 40px;
}

#rightside {
	width: auto;
	height: 100%;
	margin-left: 250px;
	background-color: #21282e;
}

.game_area {
	width: 500px;
	height: 500px;
	margin: auto;
	background-color: #fff;
}

.case{
  display:inline-block;
  width: calc(100%/19);
  background-color: #fff;
  height:19px;
  border:1px solid #cd5656;
  cursor:pointer;
}

.case span {
  border-radius:50%;
  background-color: red;
  width:12px; height:12px;
  display: inline-block;
}

.case span.black {
  background-color: yellow;
}

.case span.white {
  background-color: blue;
}
