doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Games of Go
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/app.css')
  
  body(data-game="false", class="white")

    .bg
      .upside
      .downside
    .logo
      img(src='/img/logo.png', alt='')
    .menu
      img(src='/img/logo_mini.png', alt='')
      ul
        li
          a(href='./index.html') Play
        li
          a(href='./watch.html') Watch
        li
          a(href='./infos.html') Infos
      .sociaux
        img(src='/img/facebook.png', alt='')
        img(src='/img/twitter.png', alt='')
        img(src='/img/googlep.png', alt='')
    
    .mods
      .select.settings
        h2 SETTINGS
        form(action="/generate/" + type, method="post")

          if type == "multi"
            input(type="text", class="searchPlayer", placeholder="Search an Player")
            .resultPlayer
          
          if type == "local"
            input(type="text",class="pseudo", name="player1", placeholder="Name of player 1")
            br
            br
            input(type="text",class="pseudo", name="player2", placeholder="Name of player 2")
            br
            br
          p Goban size
            br
            select(name="size")
              option(value="9") 9X9
              option(value="12") 12X12
              option(value="19") 19X19
          br
          input(type="submit", class="button", value="Let's Go")


    script.
      var require = {
        urlArgs : "bust="+new Date().getTime()
      };
    script(src='core/vendors/watch.js')
    script(data-main='/core/app', src='/core/vendors/require.js')
