doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Games of Go
    link(rel='stylesheet', href='/css/style.css')
  body
    #leftside
      img.logo(src='/img/logo.png', alt='')
      ul.menu
        li Histoire du Go
        li Règles du Go
        li Les champions
        li Autres
        li About
      ul.game
        li Fin de partie
        li Nouvelle partie
        //- Faire une pop-up permettant de choisir la taille du plateau
      
        //- <button id="toggle" value="play">
        //- Play
        //- </button>
    #rightside
      #game.game_area
      
      .player1
        .datas
          .name Joueur 1
          #scorePlayer1 0
          .color blancs
          #timePlayer1 0
        .play1
          span.entypo-pause
            img(src='', alt='')
      
      .player2
        .datas
          .name Joueur 2
          #scorePlayer2 0
          .color Noirs
          #timePlayer2 0
        .play2
          span.entypo-play
    
    script.
      var require = {
        urlArgs : "bust="+new Date().getTime()
      };
    script(src='core/vendors/watch.js')
    script(data-main='core/app', src='core/vendors/require.js')
    script(src='script.js')
