doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Games of Go
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/app.css')
      
  body(data-game="watch", data-id=data.id, data-type=data.type)
    .sidebar
      .logo
        a(href="/")
          img(src='/img/logo.png', alt='')
      .separator.s1
      .surender
        img(src='/img/surrender.png', alt='')
      .separator.s2
      .download
        img(src='/img/download.png', alt='')
      .separator.s3
      .separator.s4
      .sociaux_b
        img(src='/img/facebook.png', alt='')
        img(src='/img/twitter.png', alt='')
        img(src='/img/googlep.png', alt='')

    #rightside.rightside
      .game-container
        #game.game_area
        .information-win
        .player1
          .datas
            .name Joueur 1
            #scorePlayer1 0
            .color blancs
            #timePlayer1 0
          .play1
            span.entypo-pause
              img(src='', alt='')
        
        .player2
          .datas
            .name Joueur 2
            #scorePlayer2 0
            .color Noirs
            #timePlayer2 0
          .play2
            span.entypo-play
    
    script.
      var require = {
        urlArgs : "bust="+new Date().getTime()
      };
    script(src='/core/vendors/watch.js')
    script(data-main='/core/app', src='/core/vendors/require.js')
